
@font-face {
    font-family: digital;
    src: url(Digital7Mono.ttf);
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    height: 100%;
    background-image: url('images/wood_bg_small.png');
    background-size: cover;
    scrollbar-width: none;
}

h2 {
    font-size: 3em;
    margin: 1rem 0;
}

.page-wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.card {
    padding: 2rem;
    border: solid 2px black;
    border-radius: 1rem;
    width: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.card button {
    font-size: 2em;
}

.card p {
    font-size: 2em;
}

.hidden:not(.rising, .falling) {
    display: none;
}

.rising {
    animation: rise 600ms ease;
}

.falling {
    animation: fall 800ms linear;
}

.showing {
    animation: show 75ms ease-out;
}

#basic-calc-container {
    text-align: center;
}

.button-1 {
    padding: 1rem;
    background: black;
    border: solid 1px white;
    border-radius: 5px;
    color: white;
    transition: 100ms;
}

.button-1:hover {
    background-color: rgb(38, 38, 38);
}

.button-1:active {
    background-color: rgb(255, 255, 255);
    border-color: black;
    color: black;
}

#advanced-calc-container {
    width: fit-content;
}

#calculator {
    display: flex;
    flex-flow: row wrap;
    width: 20rem;
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 13px;
    position: relative;
    box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.75),
                inset -1px -1px 8px rgba(0, 0, 0, 0.75),
                8px 8px 8px black;
    overflow: hidden;
    transform: scale(1.5);
}

#calculator::after, #calculator button::after, .screen::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#calculator::after {
    z-index: 0;
    mix-blend-mode: hard-light;
    opacity: 20%;
    background-image: url(images/plastic_3.jpg);
}

#calculator button::after {
    z-index: 2;
    mix-blend-mode: hard-light;
    opacity: 40%;
    background-image: url(images/plastic_2.jpg);
}

.screen::after {
    z-index: 3;
    mix-blend-mode: hard-light;
    opacity: 50%;
    width: 200%;
    background-image: url(images/scratch_1.jpg);
}

.screen {
    width: 100%;
    background-color: aquamarine;
    padding: .5rem .25rem .5rem .25rem;
    margin-bottom: 1rem;
    position: relative;
    font-family: 'digital';
    font-size: 2em;
    box-shadow: inset 0 0 4px black;
    border-radius: 3px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    outline: solid 5px rgb(49, 51, 80);
    z-index: 1;
    overflow: hidden;
}

.screen::before {
    content: '-88888888888888';
    position: absolute;
    opacity: 4%;

}

#advanced-output {
    margin: 0;
    position: relative;
    z-index: 1;
    white-space: pre;
    padding: 0;
    text-align: end;
}

#notation {
    font-size: .5em;
    margin: 0;
    position: relative;
    width: calc(.5em * 4);
    text-align: end;
}

#notation::before {
    content: '-888';
    position: absolute;
    opacity: 4%;
    text-align: end;
    width: fit-content;
    right: 0;
}

#calculator button {
    border-radius: 4px 4px 10px 10px;
    width: calc(95%/5);
    height: 2.5rem;
    margin-bottom: 5px;
    color: white;
    background-color: rgb(50, 50, 50);
    text-align: center;
    border: none;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    user-select: none;
    position: relative;
    z-index: 1;
    transition: 20ms ease;
    overflow: hidden;
}

#calculator button:active {
    filter: brightness(.8);
    transform: translate(1px, 1px);
    border: none;
}

#calculator .buttons {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
}

#calculator .buttons .wrapper {
    width: 100%;
    position: relative;
}

[value=off] {
    margin-left: auto;
    padding: 0;
}

@media screen and (max-width: 550px) {
    #calculator {
        transform: scale(1);
    }

    h2 {
        font-size: 2em;
    }

    .card button {
        font-size: 2em;
    }
    
    .card p {
        font-size: 2em;
    }
}

@media screen and (max-height: 550px) {
    #calculator {
        transform: scale(1);
    }
}

@keyframes rise {
    from {transform: translate(-50%, 50vh); position: absolute;}
    to {transform: translate(-50%, -50%); position: absolute;}
}

@keyframes fall {
    from {transform: translate(-50%, -50%); position: absolute;}
    to {transform: translate(-50%, 100vh); position: absolute;}
}

@keyframes show {
    from {opacity: 0}
    to {opacity: 1}
}