
@font-face {
    font-family: digital;
    src: url(Digital7Mono.ttf);
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.page-wrapper {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.card {
    padding: 2rem;
    border: solid 2px black;
    border-radius: 1rem;
    width: fit-content;
}

.slide:not(.hidden).center {
    animation: slide-up 600ms ease;
}


#basic-calc-container {
    text-align: center;
}


.button-1 {
    padding: 1rem;
    background: black;
    border: solid 1px white;
    border-radius: 5px;
    color: white;
    transition: 100ms;
}

.button-1:hover {
    background-color: rgb(38, 38, 38);
}

.button-1:active {
    background-color: rgb(255, 255, 255);
    border-color: black;
    color: black;
}

#advanced-calc-container {
    width: fit-content;
}

#calculator {
    display: flex;
    flex-flow: row wrap;
    width: 20rem;
    background-color: rgb(72, 75, 116);
    padding: 2rem;
    border-radius: 13px;
    box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.75),
                inset -1px -1px 8px rgba(0, 0, 0, 0.75);
}

.screen {
    width: 100%;
    background-color: aquamarine;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    position: relative;
    font-family: 'digital';
    font-size: 2em;
    box-shadow: inset 0 0 4px black;
    border-radius: 3px;
}

.screen::before {
    content: '-888888888888888';
    position: absolute;
    opacity: 4%;

}

#advanced-output {
    margin: 0;
    position: relative;
    z-index: 1;
    white-space: pre;
}

#calculator button {
    border-radius: 2px 2px 4px 4px;
    width: calc(95%/5);
    height: 2.5rem;
    margin-bottom: 5px;
    color: white;
    background-color: rgb(50, 50, 50);
    text-align: center;
    border: none;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    user-select: none;
    transition: 20ms ease;
}

#calculator button:active {
    filter: brightness(.8);
    transform: translate(1px, 1px);
    border: none;
}

#calculator .buttons {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
}

#calculator .buttons .wrapper {
    width: 100%;
    position: relative;
}

[value=off] {
    margin-left: auto;
    padding: 0;
}

@keyframes slide-up {
    from {transform: translate(-50%, 50vh);}
    to {transform: translate(-50%, -50%);}
}